.git
.gitmodules
.github
.gocache
.gomodcache
.tmp
cmd/.tmp
coverage
site
dist
build
tmp
*.db
*.sqlite
*.log
*.out
coverage.out
.DS_Store
.env
.syfon-credential-kek
DATE123456
DATETEST
date
drs
syfon
fix_project_access_urls
