[submodule "ga4gh/data-repository-service-schemas"]
	path = ga4gh/data-repository-service-schemas
	url = https://github.com/kellrott/data-repository-service-schemas.git
	branch = feature/get-by-checksum
