// ServerInterfaceWrapper converts contexts to parameters.
type ServerInterfaceWrapper struct {
    Handler ServerInterface
}

type MiddlewareFunc fiber.Handler

{{range .}}
{{$opid := .OperationId}}
// {{$opid}} operation middleware
func (siw *ServerInterfaceWrapper) {{$opid}}(c fiber.Ctx) error {
  {{if or .PathParams .QueryParams .HeaderParams .CookieParams}}var err error{{end}}
  {{if .RequiresParamObject -}}
  var params {{.OperationId}}Params
  {{end}}

  {{range .PathParams -}}
  // ------------- Path parameter "{{.ParamName}}" -------------
  var {{.GoVariableName}} {{.TypeDef}}

  {{if .IsPassThrough -}}
  {{.GoVariableName}} = c.Params("{{.ParamName}}")
  {{end}}
  {{if .IsJson -}}
  err = json.Unmarshal([]byte(c.Params("{{.ParamName}}")), &{{.GoVariableName}})
  if err != nil {
    return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Error unmarshaling parameter {{.ParamName}} as JSON: %w", err).Error())
  }
  {{end}}
  {{if .IsStyled -}}
  err = runtime.BindStyledParameterWithOptions("{{.Style}}", "{{.ParamName}}", c.Params("{{.ParamName}}"), &{{.GoVariableName}}, runtime.BindStyledParameterOptions{Explode: {{.Explode}}, Required: {{.Required}}})
  if err != nil {
    return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Invalid format for parameter {{.ParamName}}: %w", err).Error())
  }
  {{end}}
  {{end}}

  {{range .QueryParams -}}
  // ------------- {{if .Required}}Required{{else}}Optional{{end}} query parameter "{{.ParamName}}" -------------
  if paramValue := c.Query("{{.ParamName}}"); paramValue != "" {
  {{if .IsPassThrough -}}
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}paramValue
  {{end}}
  {{if .IsJson -}}
    var value {{.TypeDef}}
    err = json.Unmarshal([]byte(paramValue), &value)
    if err != nil {
      return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Error unmarshaling parameter {{.ParamName}} as JSON: %w", err).Error())
    }
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
  {{end}}
  {{if .IsStyled -}}
    var value {{.TypeDef}}
    err = runtime.BindStyledParameterWithOptions("{{.Style}}", "{{.ParamName}}", paramValue, &value, runtime.BindStyledParameterOptions{Explode: {{.Explode}}, Required: {{.Required}}})
    if err != nil {
      return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Invalid format for parameter {{.ParamName}}: %w", err).Error())
    }
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
  {{end}}
  } {{if .Required}}else {
    return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Query argument {{.ParamName}} is required, but not found").Error())
  }{{end}}
  {{end}}

  {{range .HeaderParams -}}
  // ------------- {{if .Required}}Required{{else}}Optional{{end}} header parameter "{{.ParamName}}" -------------
  if paramValue := c.Get("{{.ParamName}}"); paramValue != "" {
  {{if .IsPassThrough -}}
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}paramValue
  {{end}}
  {{if .IsJson -}}
    var value {{.TypeDef}}
    err = json.Unmarshal([]byte(paramValue), &value)
    if err != nil {
      return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Error unmarshaling parameter {{.ParamName}} as JSON: %w", err).Error())
    }
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
  {{end}}
  {{if .IsStyled -}}
    var value {{.TypeDef}}
    err = runtime.BindStyledParameterWithOptions("{{.Style}}", "{{.ParamName}}", paramValue, &value, runtime.BindStyledParameterOptions{Explode: {{.Explode}}, Required: {{.Required}}})
    if err != nil {
      return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Invalid format for parameter {{.ParamName}}: %w", err).Error())
    }
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
  {{end}}
  } {{if .Required}}else {
    return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Header parameter {{.ParamName}} is required, but not found").Error())
  }{{end}}
  {{end}}

  {{range .CookieParams -}}
  // ------------- {{if .Required}}Required{{else}}Optional{{end}} cookie parameter "{{.ParamName}}" -------------
  if cookie := c.Cookies("{{.ParamName}}"); cookie != "" {
  {{if .IsPassThrough -}}
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}cookie
  {{end}}
  {{if .IsJson -}}
    var value {{.TypeDef}}
    err = json.Unmarshal([]byte(cookie), &value)
    if err != nil {
      return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Error unmarshaling parameter {{.ParamName}} as JSON: %w", err).Error())
    }
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
  {{end}}
  {{if .IsStyled -}}
    var value {{.TypeDef}}
    err = runtime.BindStyledParameterWithOptions("simple", "{{.ParamName}}", cookie, &value, runtime.BindStyledParameterOptions{Explode: {{.Explode}}, Required: {{.Required}}})
    if err != nil {
      return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Invalid format for parameter {{.ParamName}}: %w", err).Error())
    }
    params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
  {{end}}
  } {{if .Required}}else {
    return fiber.NewError(fiber.StatusBadRequest, fmt.Errorf("Cookie parameter {{.ParamName}} is required, but not found").Error())
  }{{end}}
  {{end}}

  return siw.Handler.{{.OperationId}}(c{{genParamNames .PathParams}}{{if .RequiresParamObject}}, params{{end}})
}
{{end}}
